# Python venv
backend/venv/
# Bytecode
__pycache__/
*.py[cod]

# Node / React
frontend/node_modules/
frontend/dist/

# DeepPurpose / ML models / caches
backend/save_folder/
backend/save_folder/**
backend/faiss_index.index
backend/faiss_id_map.npy
backend/faiss_index.lock
*.pt
*.pth
*.bin
*.h5

# Local DBs
backend/*.db

# OS / editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env / secrets
*.env
.env.*
backend/.env

# Optional
pytest_cache/
*.log
